<!DOCTYPE html>
<head>
    <title><%= fooga %></title>
    
    <link rel="stylesheet" type="text/css" href="fooga.css">
    <link rel="stylesheet" type="text/css" href="booga.css">
</head>
<body>
    <div>CONTENT!</div>
    
    <% while(true) { %>
        <div><%= counter %></di>
    <% } %>

    <script type="text/javascript" src="fooga.js"></script>
    <script type="text/javascript" src="booga.js"></script>
</body>
